.main {
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 80vh;

}

.content {
    width: 50%;
    padding-left: 94px;
    padding-top: 20px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;

}

p {
    font-family: serif;
    font-size: large;
    color: royalblue;
}