*{
    margin: 0;
    padding: 0;
}

.post-img{
    height: 404px;
    overflow: hidden;
}

.blog-post-content {
    width: 60vw;
    margin: auto;
    padding-top: 30px;
}
h1 {
    text-align: center;
    font-size: xxx-large;
}

.blogpost-title {
    display: flex;
    padding-top: 20px;

}
.author-info {
    font-size: medium;
    padding-right: 450px;
}

.blog-post-content p{
    font-size: 18px;
    margin: 20px 0px;
}
hr {
    margin: auto;
    width: 80vw;
 
}

.home-article{
    width: 80vw;
    margin: auto;
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    height: 600px;

}
.row {
    display: flex;
    padding: 25px;
}
.more-post {
    flex-direction: column;
    align-items: center;
}
.article-img {
    width: 300px;
}