*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.container {
    width: 78%;
    margin-left: 185px;
}


.introBox{
    padding: 20px;
    height: 264px;
    display: flex;
    width: 100%;

}
.introBox .left {
    width: 74%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.introBox .right{
    float: right;
}
.introBox .right img {
    width: 350px;
}

.mainBody {
    margin: 0;
    /* background: yellow; */
}
.projects {
    /* background: cyan; */
    height: 500px;
    margin-bottom: 8px;
    padding-left: 15px;
}
.projects h1, h3 {
    font-family: "Roboto", sans-serif;
}
.list {
    display: grid;
    grid-template-rows: repeat(2,195px);
    grid-template-columns: repeat(3, 24vw);

}
.item1 img{
    width: 146px;
    margin: 10px;
    border-radius: 74px;
}

.experience {
    /* background: cyan; */
    display: flex;
    flex-direction: column;
    height: 62vh;
}
.work, .edu {
    margin: 20px;
    width: 50vw;
}
.skill {
    width: 25%;
    height: 400px;
    position: absolute;
    right: 185px;
}
.table {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(5, 40px);
}
.table div{
    border: 1px solid gray;
    margin: auto;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    width: 98px;
    background-color: rgb(123, 221, 224);
}

hr {
    margin: 10px 0px;
    width: 42vw;
}


@media screen and (max-width: 800px){

    .container {
        width: 98vw;
        margin-left: 0;
        /* background-color:aquamarine; */
    }
    .mainBody {
        margin-top: 44px;
        /* background: yellow; */
    }
    .aboutMe {
        width: 95vw;
    }
    .work {
        margin-left: 4vw;
        margin-top: 178px;
    }
    .edu {
        margin-left: 4vw;

    }
    .work, .edu {
        width: 90vw;
    }
    .skill {
        right: 0px;
        left: 4vw;
    }
    .projects {
        margin-top: 10vh;
        margin-left: 4vw;
        padding-left: 0px;
    }
    .list {
        grid-template-columns: repeat(2, 45vw);
    }
    .item1 img {
        width: 120px;
    }
}