*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: orange;
}
.centered {
    position: absolute;
    top: 22%;
    left: 38%;
    /* transform: translate(-50%, -50%); */
  }

.cursive {
  font-family: 'EB Garamond', serif;
}

nav {
  margin-bottom: 1vh;
  display: flex;
  width: 100vw;
  height: 62px;
  box-shadow: 0 0 1px 1px rgba(29,17,51,.04),0 0 3px 2px rgba(9,32,77,.12),0 0 2px -3px rgba(29,17,51,.12);
  padding-left: 15vw;
}
.logo {
  padding: 8px;
  width: 7vw;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: orange;
}
.menu {
  padding-top: 4vh;
}
.menu ul{
  display: flex;
  list-style-type: none;
}
.menu ul li{
  padding-left: 2vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  text-decoration: none;
}
.menu ul li:hover {
  color: black;
  cursor: pointer;
  border-radius: 20px;
}
.right {
  position: absolute;
  display: flex;
  padding-top: 12px;
  padding-right: 10vw;
  right: 0px;
}
.right button{
  width: 8vw;
  margin-left: 14px;
  padding: 6px;
  /* border: 1px solid rgb(69, 208, 243); */
  border-radius: 6px;
  background-color: rgba(0,0,0,0);
  border-color: #0060df;
  color: #0060df;
}
#search {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 5px;
}
#search:hover {
  border: 2px solid blue;
  border-radius: 10px;
}
#submitBtn:hover {
  cursor: pointer;
 
}

footer {
  padding-left: 42vw;
  padding-top: 10px;
  background-color: orange;
  height: 70px;

}